.image-set{
    width: 30%;
    height: 80vh;
    display: block;
}
.lefty{
    float: left;
    margin-left: 20px;
}
.righty{
    float: right;
    margin-right: 20px;
}
.about-set{
    width: 30%;
    height: 80vh;
    display: block;
}
.contact-set{
    width: 30%;
    height: 80vh;
    display: block;
}

@media (max-width: 1400px){
    
}
@media (max-width: 1200px){

}
@media (max-width: 1000px){
    
}
@media (max-width: 800px){
    .about-set{
        width: 30%;
        height: 80vh;
        display: none;
    }
    .image-set{
        width: 30%;
        height: 60vh;
        display: block;
    }
}
@media (max-width: 600px){
    .about-set{
        width: 30%;
        height: 80vh;
        display: none;
    }
    .contact-set{
        width: 30%;
        height: 80vh;
        display: none;
        float: none;
    }
    .image-set{
        width: 30%;
        height: 60vh;
        display: block;
    }
}
@media (max-width: 400px){
    .about-set{
        width: 30%;
        height: 80vh;
        display: none;
    }
    .image-set{
        width: 30%;
        height: 60vh;
        display: block;
    }
}
@media (max-width: 200px){
    .about-set{
        width: 30%;
        height: 80vh;
        display: none;
    }
    .contact-set{
        width: 30%;
        height: 80vh;
        display: none;
    }
    .image-set{
        width: 30%;
        height: 60vh;
        display: block;
    }
    
    
}